<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
         <title>testing</title>


     </head>
    <body>

               <div class="w3-content" style="max-width:1200px">
                  <img class="slide w3-animate-fading" src="/imagenes/diagnostico-computadora-reparacion3.jpg" style="width:100%">
                  <img class="slide w3-animate-fading" src="/imagenes/diagnostico-computadora-reparacion5.jpg" style="width:100%">
                  <img class="slide w3-animate-fading" src="/imagenes/diagnostico-computadora-reparacion6.jpg" style="width:100%">


               </div>
    </body>
</html>
