<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
         <title>testing</title>


     </head>
    <body>

               <div class="w3-content" style="max-width:1200px">

                  <img class="slide w3-animate-top" src="/imagenes/diagnostico-computadora-reparacion3.jpg" style="width:100%">
                  <img class="slide" src="/imagenes/diagnostico-computadora-reparacion5.jpg" style="width:100%">
                  <img class="slide" src="/imagenes/diagnostico-computadora-reparacion6.jpg" style="width:100%">
                     <div class="w3-row-padding w3-section">
                       <div class="w3-col s4">
                         <img class="demo w3-border w3-hover-shadow"
                           src="/imagenes/diagnostico-computadora-reparacion3.jpg" onclick="currentDiv(1)">
                       </div>
                       <div class="w3-col s4">
                         <img class="demo w3-border w3-hover-shadow"
                           src="/imagenes/diagnostico-computadora-reparacion5.jpg" onclick="currentDiv(2)">
                       </div>
                    <div class="w3-col s4">
                       <img class="demo w3-border w3-hover-shadow"
                         src="/imagenes/diagnostico-computadora-reparacion6.jpg" onclick="currentDiv(3)">
                    </div>
                  </div>

               </div>
    </body>
</html>
