<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Lato", sans-serif}
.mySlides {display:none}
.w3-left, .w3-right, .w3-tag {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Navbar -->
<ul class="w3-navbar w3-left-align w3-light-grey w3-center w3-top w3-large">
  <li class="w3-left" style="width:33.3% !important"><a href="javascript:void(0)" class="w3-text-teal">Volver</a></li>
  <li class="w3-left" style="width:33.3% !important"><a href="javascript:void(nosotros.erb)">Nosotros</a></li>
  <li class="w3-left" style="width:33.3% !important"><a href="javascript:void(0)">Presupuesto</a></li>
</ul>

<!-- Content -->
<div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
  <div class="w3-section w3-center">
    <h1><b>¿QUE ES LO QUE HACEMOS?</b></h1>
    <p></p>
  </div>

  <!-- Slideshow -->
  <div class="w3-display-container mySlides">
    <img src="/imagenes/diagnostico-computadora-reparacion3.jpg" style="width:100%">
    <div class="w3-display-topleft w3-text-white w3-container w3-padding-32 w3-hide-small">
      <span class="w3-white w3-padding-large w3-animate-bottom">Un diagnóstico preciso</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
    <img src="/imagenes/diagnostico-computadora-reparacion5.jpg" style="width:100%">
    <div class="w3-display-middle w3-text-white w3-container w3-padding-32 w3-hide-small">
      <span class="w3-white w3-padding-large w3-animate-bottom">Una reparación eficiente</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
    <img src="/imagenes/diagnostico-computadora-reparacion6.jpg" style="width:100%">
    <div class="w3-display-topright w3-text-white w3-container w3-padding-32 w3-hide-small">
      <span class="w3-white w3-padding-large w3-animate-bottom">Una solución definitiva</span>
    </div>
  </div>

  <!-- Slideshow next/previous buttons -->
  <div class="w3-container w3-dark-grey w3-padding-8">
    <div class="w3-left w3-hover-text-teal w3-large" onclick="plusDivs(-1)">❮</div>
    <div class="w3-right w3-hover-text-teal w3-large" onclick="plusDivs(1)">❯</div>

    <div class="w3-center">
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">¿Qué es lo que ofrecemos?</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-padding-large">
      <h3>Compromiso</h3>
      <p>Siempre en próximidad y en permanente comunicación con nuestros clientes, con vocación de servicio orientada a satisfacer sus necesidades</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-padding-large">
      <h3>Pasión</h3>
      <p>Amplia experiencia en la implementación de soluciones ajustadas a su medida, con total vocación, haciendo lo que mas nos gusta</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-padding-large">
      <h3>Conocimiento</h3>
      <p>Profesionales independientes, con estudios formales y años de experiencia en diversas ramas relacionadas con la informática altamente capacitados</p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-padding-large">
      <h3>Garantía</h3>
      <p>Siempre le entregaremos la mejor solución tecnológica con los mas altos estandares de calidad, y con el mejor servicio de preventa y postventa</p>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-center w3-padding-64">
      <h3>Pricing Plans</h3>
      <p>Choose a pricing plan that fits your needs.</p>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black">
          <p class="w3-xlarge">Basic</p>
        </li>
        <li class="w3-padding-16"><b>10GB</b> Storage</li>
        <li class="w3-padding-16"><b>10</b> Emails</li>
        <li class="w3-padding-16"><b>10</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-dark-grey">
          <p class="w3-xlarge">Pro</p>
        </li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black">
          <p class="w3-xlarge">Premium</p>
        </li>
        <li class="w3-padding-16"><b>50GB</b> Storage</li>
        <li class="w3-padding-16"><b>50</b> Emails</li>
        <li class="w3-padding-16"><b>50</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar1.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar3.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar6.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <form>
    <div class="w3-group">
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text">
    </div>
    <div class="w3-group">
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text">
    </div>
    <div class="w3-group">
      <label>Subject</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;">
    </div>
    <button type="button" class="w3-btn w3-btn-block w3-padding-12">Send</button>
  </form>

</div>

<footer
<div id=footer2 class="w3-row ">
  <div class="w-3col w3-bottom w3-center w3-red" style="width:100%">
    <p> Desarrollado por Hernán Dorra <img class="w3-circle" alt="fotoperfil" src="/imagenes/perfil.jpg" style="width:35px;height:35px;" | <p> Contacto: <a href="mailto:hernanofx@hotmail.com"> hernanofx@hotmail.com</a></p>
  </div>
</div>
</footer>
<!-- Footer -->

<script>
// Slideshow script
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
