<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="<%= url('/css/slide.css') %>" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
        setInterval('avanzaSlide()',5000);
        var arrayImagenes = new Array(".img1",".img2",".img3");
        var contador = 0;
        function mostrar(img){
        	$(img).ready(function(){
          		$(arrayImagenes[contador]).fadeIn(1500);
        	});
        }
        function ocultar(img){
        	$(img).ready(function(){
          		$(arrayImagenes[contador]).fadeOut(1500);
        	});
        }
        function avanzaSlide(){
                //se oculta la imagen actual
        	ocultar(arrayImagenes[contador]);
                //aumentamos el contador en una unidad
        	contador = (contador + 1) % 3;
                //mostramos la nueva imagen
        	mostrar(arrayImagenes[contador]);
        }

        </script>
     </head>


<body>
  <div class="slide">
    <figure>
      <img class="img1" alt="alt img1" src="/imagenes/diagnostico-computadora-reparacion3.jpg"/>
      <img class="img2" alt="alt img2" src="/imagenes/diagnostico-computadora-reparacion5.jpg"/>
      <img class="img3" alt="alt img3" src="/imagenes/diagnostico-computadora-reparacion6.jpg"/>
  </figure>
 </div>
</body>
</html>
