<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
      <div id="resumen">
        <div class="w3-row">
          <div class="w3-col s6 w3-green w3-center"><p> Recuadro resumen particulares </p></div>
          <div class="w3-col s6 w3-green w3-center"><p> Recuadro resumen empresas, lalalalala</p></div>
        </div>
     </div>
  </body>
</html>
