<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="<%= url('/css/slide.css') %>" rel="stylesheet" type="text/css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/js/slidef.js"></script>
        </head>


<body>
  <div class="slide">
    <figure>
      <img class="img1" alt="alt img1" src="/imagenes/diagnostico-computadora-reparacion3.jpg"/>
      <img class="img2" alt="alt img2" src="/imagenes/diagnostico-computadora-reparacion5.jpg"/>
      <img class="img3" alt="alt img3" src="/imagenes/diagnostico-computadora-reparacion6.jpg"/>
  </figure>
 </div>
</body>
<footer>
</footer>

</html>
