<html>
  <head>
    <link href="<%= url('/estilo.css') %>" rel="stylesheet" type="text/css" />
    <title> HD compus | Alta calidad en reparación de equipos informáticos</title>
  </head>
  <body>
  </body>
</html>
