<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="<%= url('/estilos.css') %>" rel="stylesheet" type="text/css" />
    <title> HD compus | Alta calidad en reparación de equipos informáticos</title>
      <div id="cobertura">
        <div class="w3-row">
          <div class="w3-col s6 w3-green w3-center"><p>Cobertura en CABA y GBA</p></div>
          <div class="w3-col s6 w3-dark-grey w3-center"><p>Llamenos al 15-59257868</p></div>
        </div>
      </div>
     </div>
  </head>
  <body>

  </body>
  <footer>
  </footer>
</html>
