<!DOCTYPE html>
<html>
    <!-- Navbar -->
    <div class="w3-container">

        <ul class="w3-navbar q3-top w3-blue-grey w3-border w3-large">
            <li>
                <a class="w3-dark-grey" href="/">
                    <i class="material-icons w3-large">home</i>
                </a>
            </li>
            <li class="w3-right">
                <a href="servicios">Servicios</i>
            </a>
        </li>
        <li class="w3-right">
            <a href="nosotros">Nosotros</a>
        </li>
        <li class="w3-right">
            <a href="mailto:hernanofx@hotmail.com?subject=contacto">Contacto</a>
        </li>
    </ul>
</div>

<head>
    <meta charset="utf-8">
    <!-- Favicon fuente -->
    <link href="/imagenes/favicon.ico" rel="shortcut icon">
    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>
        Compus | Alta calidad en soluciones informáticas</title>
</head>
<body>
    <div>
        <%= yield %>
    </div>
</body>
</html>
