<html>
    <head>
      <meta charset="utf-8">
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
      <title>HD Compus | Alta calidad en reparación de equipos informáticos</title>
    </head>
    <body>
      <div id='header'>
        <nav>
          <ul class="w3-navbar w3-card-8 w3-blue w3-medium" >
            <li><a href="/">Volver</a></li>
            <li><a href="presupuesto">Presupuesto</a></li>
            <li><a href="contact">Particulares</i></a></li>
            <li><a href="about">Empresas</a></li>
            <li><a href="nosotros">Nosotros</a></li>
        </nav>


      </div>
      <div id='main'>
        <%= yield %>
      </div>
    </body>
  <footer id='contacto' class="w3-display-bottommiddle w3-container w3-red">
         <p> Hecho por: Hernán Dorra <img class="w3-circle" alt="fotoperfil" src="/imagenes/perfil.jpg" style="width:35px;height:35px;" | <p> Contacto: <a href="mailto:hernanofx@hotmail.com"> hernanofx@hotmail.com</a></p>
     </div>
   </footer>
 </html>
