<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
      <title>HD Compus | Alta calidad en reparación de equipos informáticos</title>
    <title></title>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
