<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <title>HD Compus | Alta calidad en reparaci칩n de equipos inform치ticos</title>
      <div id="cobertura">
        <div class="w3-row">
          <div class="w3-col s6 w3-green w3-center"><p>Cobertura en CABA y GBA</p></div>
          <div class="w3-col s6 w3-dark-grey w3-center"><p>Llamenos al 15-59257868</p></div>
        </div>
      </div>
      <div id="cabecera">
            <ul class="w3-navbar w3-card-8 w3-blue w3-large w3-right">
                <nav>
                      <li><a href="/">Volver<i class="fa fa-home"></i></a></li>
                      <li><a href="presupuesto">Presupuesto</a></li>
                      <li><a href="particulares">Particulares</a></li>
                      <li><a href="empresas">Empresas</a></li>
                      <li><a href="nosotros">Nosotros</a></li>
            </ul>
                </nav>
      </div>

    </head>
    <body>
      <div id='main'>
        <%= yield %>
      </div>
      <body>
      <div id="resumen">
        <div class="w3-row">
          <div class="w3-col s6 w3-green w3-center"><p> Recuadro resumen particulares </p></div>
          <div class="w3-col s6 w3-green w3-center"><p> Recuadro resumen empresas</p></div>
        </div>
     </div>
  </body>
    </body>
  <footer>
    <div id="footer">
       <div class="w3-row">
         <div class="w3-green w3-container w3-quarter"><h2>Lista links internos</h2></div>
         <div class="w3-grey w3-container w3-quarter"><h2>Info</h2></div>
         <div class="w3-yellow w3-container w3-quarter"><h2>Ubicaci칩n</h2></div>
         <div class="w3-red w3-container w3-quarter"><h2>Mail / Telefono</h2> </div>
       </div>
     </div>
     <div id='contacto' class="w3-display-bottommiddle w3-container w3-red">
         <p> Hecho por: Hern치n Dorra <img class="w3-circle" alt="fotoperfil" src="/imagenes/perfil.jpg" style="width:35px;height:35px;" | <p> Contacto: <a href="mailto:hernanofx@hotmail.com"> hernanofx@hotmail.com</a></p>
     </div>
   </footer>
 </html>
