<!DOCTYPE html>
<html>
<div id=fila1 class="w3-row w3-top w3-center">
  <div class="w3-col w3-green " style="width:50%"> <p>Cobertura en CABA y GBA</p></div>
  <div class="w3-col w3-dark-grey" style="width:50%"> <p>Llamenos al 15-59257868</p></div>
</div>

<div id=menu class="w3-row w3-right">
  <div class="w3-col" style="width:30%"></div>
  <div class="w3-col" style="width:30%"></div>
  <div class="w3-col" style="width:40%">
    <ul class="w3-navbar w3-border w3-light-grey w3-card-8 w3-center">
      <nav>
            <li style="width:20%"><a class="w3-padding" href="/">Volver</i></a></li>
            <li style="width:20%"><a class="w3-padding" href="presupuesto">Presupuesto</a></li>
            <li style="width:20%"><a class="w3-padding" href="particulares">Particulares</a></li>
            <li style="width:20%"><a class="w3-padding" href="empresas">Empresas</a></li>
            <li style="width:20%"><a class="w3-padding" href="nosotros">Nosotros</a></li>
      </nav>
    </ul>
  </div>
</div>

<div id=contenido class="w3-row">
  <div class="w3-col" style="width:100"></div>
</div>

<div id=class="resumen" class="w3-row">
  <div class="w3-col" style="width:50%"><p>Recuadro resumen particulares</p></div>
  <div class="w3-col" style="width:50%"><p>Recuadro resumen empresas</p></div>
</div>

<div id=footer class="w3-row">
  <div class="w3-quarter"><p>Lista links internos</p></div>
  <div class="w3-quarter"><p>Info</p></div>
  <div class="w3-quarter"><p>Ubicaci칩n</p></div>
  <div class="w3-quarter"><p>Mail / Telefono</p></div>
</div>

<div id=footer2 class="w3-row ">
  <div class="w-3col w3-bottom w3-center w3-red" style="width:100%">
    <p> Desarrollado por Hern치n Dorra <img class="w3-circle" alt="fotoperfil" src="/imagenes/perfil.jpg" style="width:35px;height:35px;" | <p> Contacto: <a href="mailto:hernanofx@hotmail.com"> hernanofx@hotmail.com</a></p>
  </div>
</div>

  <head>
    <meta charset="utf-8">
    <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
      <title>HD Compus | Alta calidad en reparaci칩n de equipos inform치ticos</title>
    <title></title>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
