<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="w3-padding-48">

            <div class="w3-card-4 w3-hover-shadow" style="width:50%;">
                <header class="w3-container w3-red">
                    <h2>¿Quienes somos?</h2>

                </header>

                <div class="w3-container">

                    <p>
                        Somos un equipo de profesionales independientes, con estudios formales y años de experiencia en diversas ramas relacionadas con la informática, siempre comprometidos en la continua capacitación y el desarrollo de nuevos conocimientos acordes al rubro
                        tecnológico el cual se encuentra en constante actualización.
                    </p>
                </div>

                <div class="w3-card-4 w3-deep-orange w3-hover-shadow">
                    <h3>
                        Nuestros valores son:</h3>

                    <h3>Compromiso</h3>
                    <p>
                        Siempre en próximidad y en permanente comunicación con nuestros clientes, ejerciendo nuestra clara vocación de servicio orientada a satisfacer sus necesidades, entendiendonos como su aliado de negocio y ofreciendoles siempre la mejor solución
                        tecnológica con los mas altos estandares de calidad, y con el mejor servicio de preventa y postventa
                    </p>

                    <h3>Pasión</h3>
                    <p>
                        Nuestro equipo se caracteriza por su amplia experiencia en la implementación de soluciones de diversa indole, ejerciendo esta actividad con total vocación, pasión y orgullo por los logros obtenidos en nuestros productos y servicios, alcanzando nuevas
                        metas y aplicando el concepto de mejora continua.

                    </p>
                </div>

            </div>
        </div>

    </body>
    <footer>

        <div class="w3-center w3-container w3-padding-32">
            <a class="w3-btn-block w3-blue-grey w3-padding-large w3-xlarge" href="/presupuesto2">Pedí tu presupuesto online ahora
            </a>
        </div>
        <div id=social class="w3-container w3-theme-d1 w3-center">
            <h4>Seguinos</h4>
            <a class="w3-btn-floating w3-blue-grey" href="javascript:void(0)" title="Facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="w3-btn-floating w3-blue-grey" href="javascript:void(0)" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="w3-btn-floating w3-blue-grey" href="javascript:void(0)" title="Google +">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="w3-btn-floating w3-blue-grey w3-hide-small" href="javascript:void(0)" title="Linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            <p>Desarrollado por Hernán Dorra - 2016
                <a href="mailto:hernanofx@hotmail.com?subject=feedback"></a>
            </p>
        </div>

        <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-blue-grey w3-hide-small">Volver arriba</span>
            <a class="w3-btn w3-theme" href="/">
                <span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i>
                </span>
            </a>
        </div>
    </footer>
</html>
