<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id=pagina class="w3-container" >
            <div id=quienesnuestros class="w3-row w3-padding-48">
                <div id=quienes class="w3-col s3 w3-green w3-center">
                    <h2>¿Quienes somos?</h2>
                    <div id=somos class="">

                        <p>Somos un equipo de profesionales independientes, con estudios formales y años de experiencia en diversas ramas relacionadas con la informática, siempre comprometidos en la continua capacitación y el desarrollo de nuevos conocimientos acordes al
                            rubro tecnológico el cual se encuentra en constante actualización.

                        </p>
                    </div>

                </div>
                <div id=nuestros class="w3-col s9 w3-dark-grey w3-center">
                    <h2>Nuestros valores</h2>
                </div>
                <div id=compromiso class="w3-col w3-container m8"></div>
                <h3>Compromiso</h3>
                <p>
                    Siempre en próximidad y en permanente comunicación con nuestros clientes, ejerciendo nuestra clara vocación de servicio orientada a satisfacer sus necesidades, entendiendonos como su aliado de negocio y ofreciendoles siempre la mejor solución
                    tecnológica con los mas altos estandares de calidad, y con el mejor servicio de preventa y postventa
                </p>
                <div id=pasion class="w3-col w3-container m8">
                  <h3>Pasión</h3>
                    <p>
                        Nuestro equipo se caracteriza por su amplia experiencia en la implementación de soluciones de diversa indole, ejerciendo esta actividad con total vocación, pasión y orgullo por los logros obtenidos en nuestros productos y servicios, alcanzando nuevas
                        metas y aplicando el concepto de mejora continua.
                    </p>
                </div>
            </div>
        </div>

    </body>
    <footer></footer>

</html>
