<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="/js/presupuesto.js"></script>
        <title></title>

    </head>
    <body>
        <div id="titulo" class="w3-row w3-container w3-btn-block w3-dark-grey w3-padding-tiny" style="margin-top:50px">
            <h4>Presupuesto online</h4>
        </div>
        <div id="informacion" div class="w3-row-padding w3-container w3-blue-grey">
            <h5>Tu presupuesto total es de: 0</h5>
        </div><br>

        <form name="miform" id="miform" class="w3-container" action="/client_form" method="post">
            <div class="w3-padding-tiny">

                <div class="w3-quarter w3-padding-tiny">

                    <input name="id" id="clt" type="checkbox" class="w3-check" value="200" onclick="sumar()"/>
                    <label class="w3-validate">
                        Backups</label>
                    <br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="200" onclick="sumar()"/>
                    <label class="w3-validate">
                        Limpieza de virus y optimización</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="150" onclick="sumar()"/>
                    <label class="w3-validate">
                        Instalacion de programas</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="200" onclick="sumar()"/>
                    <label class="w3-validate">
                        Instalacion de Sistema Operativo</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="100" onclick="sumar()"/>
                    <label class="w3-validate">
                        Instalacion de memorias</label><br>
                </div>
                <div class="w3-quarter w3-padding-tiny">
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="150" onclick="sumar()"/>
                    <label class="w3-validate">
                        Instalacion de placas (sonido, imagen, etc..)</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="150" onclick="sumar()"/>
                    <label class="w3-validate">
                        Cambio de fuente</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="0" onclick="sumar()"/>
                    <label class="w3-validate">
                        Retiro de la pc de domicilio</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="100" onclick="sumar()"/>
                    <label class="w3-validate">
                        Entrega del equipo en su domicilio</label><br>
                    <input name="id" id="clt" type="checkbox" class="w3-check" value="80" onclick="sumar()"/>
                    <label class="w3-validate">
                        Copias de cd/dvds</label><br>
                </div>
                <div class="w3-quarter w3-padding-tiny">
                    <input type="text" name="primernombre" class="w3-input w3-hover-dark-grey w3-border" placeholder="Nombre">
                    <input type="text" name="apellido" class="w3-input w3-hover-dark-grey w3-border" placeholder="Apellido">
                    <input type="tel" name="telefono" class="w3-input w3-hover-dark-grey w3-border" placeholder="Teléfono">
                    <input type="email" name="email" class="w3-input w3-hover-dark-grey w3-border" placeholder="E-mail">
                </div>
                <div class="w3-quarter w3-padding-tiny">
                    <input type="text" name="calle" class="w3-input w3-hover-dark-grey w3-border" placeholder="Calle">
                    <input type="number" name="altura" class="w3-input w3-hover-dark-grey w3-border" placeholder="Altura">
                    <input type="text" name="piso" class="w3-input w3-hover-dark-grey w3-border" placeholder="Piso">
                    <input type="text" name="localidad" class="w3-input w3-hover-dark-grey w3-border" placeholder="Localidad">

                </div>
                <button class="w3-btn-block w3-blue-grey">Enviar</button>

            </div>

        </form>

    </body>
    <footer></footer>
</html>
