<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>HD Compus</h2>
        <p>
            Es un equipo de profesionales independientes, con estudios formales y años de experiencia en diversas ramas relacionadas con la informática, siempre comprometidos en la continua capacitación y el desarrollo de nuevos conocimientos acordes al rubro
            tecnológico el cual se encuentra en constante actualización.
        </p>
        Nuestros valores son:

        <h3>Compromiso</h3>
        <p>
            Siempre en próximidad y en permanente comunicación con nuestros clientes, ejerciendo nuestra clara vocación de servicio orientada a satisfacer sus necesidades, entendiendonos como su aliado de negocio y ofreciendoles siempre la mejor solución
            tecnológica con los mas altos estandares de calidad, y con el mejor servicio de preventa y postventa
        </p>

        <h3>Pasión</h3>
        <p>
            Nuestro equipo se caracteriza por su amplia experiencia en la implementación de soluciones de diversa indole, ejerciendo esta actividad con total vocación, pasión y orgullo por los logros obtenidos en nuestros productos y servicios, alcanzando nuevas
            metas y aplicando el concepto de mejora continua.

        </p>

    </body>
</html>
